h1 {
	color: navy;
	margin-left: 10px;
}

body, html {
  height: 100%;
}

p {
	margin-left: 20px;
}

#backgroundTab {
    text-align: center;
}

#leftButton {
    position: fixed;
    top: 55%;
    left: 5px;
}

#rightButton {
    position: fixed;
    top: 55%;
    right: 5px;
}

#itemSelection {
    text-align: center;
}

#crazyBreak {
    height: 0px;
}

ul.pager{
    padding: 20px;
}

#itemSelection ul {
    margin-left: -20px;
    list-style-type: none;
}
#itemSelection li {
    display: inline;
    margin-right: 20px;
}
