h1 {
	color: navy;
	margin-left: 10px;
}

#backgroundTab {
    padding: 40px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgba(0, 200, 255, 0.4);
}

#leftButton {
    position: absolute;
    top: 40px;
    left: 5px;
}

#rightButton {
    position: absolute;
    top: 40px;
    right: 5px;
}

#itemSelection {
    text-align: center;
}

#crazyBreak {
    height: 500px;
}