body {
	background-color: white;

}

#page-wrap {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

h1 {
	color: navy;
	margin-left: 10px;
	text-align: center;
}

p {
	margin-left: 20px;
	text-align: center;
}

h3 {
	margin-left: 30px;
	text-align: center;

}

ul.pager {
	padding: 40px;
}


#itemselection {
	text-align: center;
}
